<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>City Bike Station Information by Vegard Hillestad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>Station id</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Bikes available</th>
        <th>Docks available</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station:${stations}">
        <td th:text="${station.stationId}"></td>
        <td th:text="${station.name}"></td>
        <td th:text="${station.capacity}"></td>
        <td th:text="${stationStatusMap.get(station.stationId).numBikesAvailable}"></td>
        <td th:text="${stationStatusMap.get(station.stationId).numDocksAvailable}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>